.sit{
    border: 2px solid aliceblue;
    padding: 15px;
    border-radius: 15px;
    background-color: #F7F8F8;
    font-weight: 700;
  }
  .num{
    padding: 15px;
    font-weight: 700;
  }
  li{
    display: flex;
    gap: 20px;
  }